/*----------------------
Global
-----------------------*/

body {
  color: #212121;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}

.profile {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  object-fit: cover;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#about-card h5 {
  font-weight: 300;
  color: white;
  text-transform: capitalize;
}

#about-card p {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}

.exp-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #23a6d5;
}
.exp-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

#portfolio {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c144 C 57.6%2c122.4 172.8%2c16.6 288%2c36 C 403.2%2c55.4 460.8%2c242 576%2c241 C 691.2%2c240 748.8%2c40 864%2c31 C 979.2%2c22 1036.8%2c189.8 1152%2c196 C 1267.2%2c202.2 1382.4%2c88.8 1440%2c62L1440 560L0 560z' fill='rgba(238%2c 119%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c301 C 144%2c331.2 432%2c447.6 720%2c452 C 1008%2c456.4 1296%2c348.8 1440%2c323L1440 560L0 560z' fill='rgba(35%2c 166%2c 213%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  margin-top: 5rem;
}

#portfolio .card {
  border-radius: 10px;
  height: 100%;
  cursor: pointer;
}

#portfolio .card img {
  transition: 0.5s;
}
#portfolio .card img:hover {
  scale: 1.1;
  transition: 0.5;
}
#portfolio .card .btn {
  transition: 0.5s;
}

#portfolio .card .btn:hover {
  scale: 1.1;
  background-color: black;
  transition: 0.5;
}

#contact {
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

#contact h3 {
  font-weight: 300;
}

#contact a {
  font-size: 1.2rem;
  margin-right: 10px;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
